body
	padding-top: 40px
	@media (max-width: 979px)
		padding-top: 0

.center
	text-align: center
	margin: 0 auto

.login-button
	float: right;
	&#login-buttons-facebook
		padding-top: 10px
		padding-bottom: 8px
	&:hover
		text-decoration: underline
		cursor: pointer