<template name="about">
	<div id="about" class="container">
		<br/>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6 well">
				<p>Hi,</p>
				<p>I’m Chris, and Marq is my side project. Marq springs from a desire to get fast feedback in order to quickly <a src="http://theleanstartup.com/" title="lean startup" target="_blank">validate ideas</a>.<p>
				<p>Entrepreneurs know what I mean, and I believe that everyone intuitively understands the problem of making judgments about the world with limited information. At <a href="http://www.consignd.com">Consignd</a> my co-founders and I try to compare our assumptions with the actions and opinions of people from all walks of life. Just because the questions we ask have no right answer, or the right answer is very hard to come by, does not mean that a good enough answer or even a dumb answer is not valuable to us. When dealing with ideas that involve people - opinions matter. So we talk to lots of people. We go to the street and the coffee shop. We make prototypes and show them to strangers. And throughout all of this experimentation we make surveys.</p>
				<p>Generally our surveys suck. They’re not fun or immediate and they tend to look like something from the government or the College Board. Marq aims to subvert surveys and make them suck a little less so you can get to the important buisiness of realizing the right idea.</p>
				<p>The goal is to make it fun to answer as well as ask questions. If you have a suggestion pose it in the form of question and <a href="/questions/new">ask it</a>. And if you really want to get your hands dirty submit an issue or better still a pull request. <a href="https://github.com/ananta-IO/marq" title="github repo" target="_blank">The code</a> is open source.</p>
				<span class="img-toggle">
					<img src="/assets/chris_headshot.jpg" width="100" class="headshot img-circle pull-right"></img>
					<img src="/assets/chris_wtf.jpg" width="100" class="wtf img-circle pull-right"></img>
				</span>
				<br/>
				<p>Ciao,</p>
				<p>- Chris</p>
			</div>
		</div> 
	</div> 
</template>