<template name="faq">
	<div id="faq" class="container">
		<br/>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6 well">
				<h4 id="q-what-is-marq">What is Marq?</h4>
				<p>Marq is a survey tool designed to get instant feedback to the best questions. It is not a Q&amp;A site. We are not seeking definitive answers. All questions are bite-sized and take seconds to ask and answer. Data from new responses updates graphs and other metrics in real-time so you can make informed decisions quickly.</p>
				<br/>
				<h4>What can I ask about?</h4>
				<p>Anything! From the UI of your new homepage to the relevance of women's colleges in the 21st century - All ideas are fair game.</p>
				<br/>
				<h4 id="q-facebook">Why do I have to register through Facebook?</h4>
				<p>Registering through Facebook helps to verify everyone's specialness. Essentially it makes it harder cheat by answering or rating a question more than once. This may change in the future, but right now Facebook is the easiest and most ubiquitous way to prevent gaming the system. Please be assured that <em>Marq will never post anything to your Facebook account without your permission</em>.</p>
				<br/>
				<h4 id="q-question-visibility">Who can see my questions?</h4>
				<p>All questions are presented anonymously in order of score. Everyone can see your questions, but they will not see your name.</p>
				<br/>
				<h4 id="q-question-score">What is a question's score?</h4>
				<p>Score is based on ratings from other users, the age of the question, and your karma. New questions with lots of positive ratings and posted by reputable users will be shown to the most people.</p>
				<br/>
				<h4 id="q-not-anonymous">What is not anonymous?</h4>
				<p>Discussion messages are the only place where other people can see your name.</p>
				<br/>
				<h4 id="q-karma">What is my karma for?</h4>
				<p>As your karma increases your questions gain more visibility.</p>
				<br/>
				<h4 id="q-earn-karma">How do I earn karma?</h4>
				<p>Post good questions. You get 101 karma for registering. The rest comes from your questions. Your karma goes up by 3 when someone marks a question of yours good and down by 1 when someone marks a question of yours not good.</p>
				<br/>
				<h4 id="q-good-question">What makes a question good?</h4>
				<p>That's up to you. The focus of this site is validating ideas so anything goes so long as the question makes sense and you have fun answering and discussing it.</p>

				<h4></h4>
				<p></p>
			</div>
		</div> 
	</div> 
</template>