<template name="listQuestions">
  <hr/>
  <div class="container">
    <h3>
      You have asked {{questionCount}} questions
    </h3>
    <div class="row">
      <div class="span12 questions-list">
        {{#each questions}}
          <div class="row">
            <div class="span1">
              {{answerCount}}
            </div>
            <div class="span1">
              {{voteTally}}
            </div>
            <div class="span3">
              {{question}}
            </div>
            <div class="span3">
              {{answerChoices}}
            </div>
            <div class="span3">
              {{createdAt}}
            </div>
            <div class="span1">
              {{#if canRemove}}
                <button class="btn btn-danger remove" type="button" data-questionId="{{_id}}"><i class="icon-trash icon-white"></i></button>
              {{/if}}
            </div>
          </div>
          <hr/>
        {{/each}}
      </div>
    </div>
  </div>
</template>