<template name="newQuestion">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="span12">
        {{#if error}}
          <div class="alert alert-error">
            {{error}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <label>Your Question</label>
        <input type="text" class="question span12" placeholder="What do you want to know?" value="{{question}}">
      </div>
    </div>
    <div class="answer-choices">
      <label>Answer Choices (optional)</label>
      <div class="hint">
        For simplicity all questions are multiple choice. The default choices are Yes, No, and Don't Care. You can write your own here.
      </div>   
      {{#each objectifiedAnswerChoices}}
        {{> newQuestionAnswerChoice}}
      {{/each}}
    </div>
    <div class="row">
      <div class="span12">
        <a href="#" class="btn btn-primary save">Ask Question</a>
      </div>
    </div>
  </div>
</template>

<template name="newQuestionAnswerChoice">
  <div class="input-prepend input-append answer-choice-wrap">
    <div class="add-on">{{order}}.</div>
    <input type="text" class="answer-choice span3" placeholder="{{placeholder}}" value="{{value}}">
    {{#if value}}
      <button class="btn btn-danger remove" type="button" data-value="{{value}}"><i class="icon-trash icon-white"></i></button>
    {{/if}}
  </div>
</template>