<template name="newQuestion">
  <div class="container" id="new-question">
    <div class="row">
      <div class="span12">
        <h2>
          Ask
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        {{#if alert}}
          {{#with alert}}
            <div class="alert alert-{{type}}">
              {{#if dismiss}}
                <button type="button" class="close" data-dismiss="alert">×</button>
              {{/if}}
              {{message}}
            </div>
          {{/with}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <label>Question</label>
        <textarea rows="2" type="text" class="question span12" placeholder="What do you want to know?" name="question">{{question}}</textarea>
        <span class="help-block">
          Make it a multiple choice question. The default choices are Yes, No, and Don't Care.
        </span>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="span12">
        <div class="answer-choices">
          <label>Answer Choices</label> 
          {{#each objectifiedAnswerChoices}}
            {{> newQuestionAnswerChoice}}
          {{/each}}
          <span class="help-block">
            For simplicity all questions are multiple choice. The default answer choices are Yes, No, and Don't Care. Or you can write your own here.
          </span>  
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="span12">
        <button type="button" class="btn btn-primary btn-block btn-large save">Ask Question</button>
      </div>
    </div>
  </div>
</template>

<template name="newQuestionAnswerChoice">
  <div class="input-prepend input-append answer-choice-wrap">
    <div class="add-on">{{order}}.</div>
    <input type="text" class="answer-choice span4" placeholder="{{placeholder}}" value="{{value}}" name="answer-choice-{{order}}">
    {{#if value}}
      <button class="btn btn-danger remove" type="button" data-value="{{value}}"><i class="icon-trash icon-white"></i></button>
    {{/if}}
  </div>
</template>