<template name="questionsNew">

	<div class="container" id="questions-new"> 
		<br/>

		<div class="row-fluid">
			<div class="span2 hidden-phone">
				&nbsp;
			</div>
			<div class="span8 well">

				{{#isolate}}
					<div class="row-fluid">
						<div class="span12">
							<label for="new-question-question">Ask a Question</label>
							<div class="input textarea">
								<textarea rows="2" type="text" class="question span12" id="new-question-question" placeholder="What do you want to know?" maxlength="140" name="question">{{question}}</textarea>
								<span class="char-count">{{questionRemainingChars}}</span>
							</div>
						</div>
					</div>
				{{/isolate}}

				<br/>
				{{#isolate}}
					<div class="row-fluid">
						<div class="span12">
							<label for="new-question-embed-uri">Embed Anything (optional)</label>
							<div class="input string">
								<input type="text" class="embed-uri span12 press-enter" id="new-question-embed-uri" placeholder="http://youtu.be/4HHJv8lPERQ?t=1m14s" maxlength="140" name="embed-uri">{{embedUri}}</input>
							</div>
							<span class="help-block">
								<small>
									Copy and paste a link to any video, audio, image, website, tweet, rss, etc. It will appear below if it can be embeded. 
								</small>
							</span> 
						</div>
					</div>
				{{/isolate}}

				{{#isolate}}
					{{#if embedHtml}}
						<div class="row-fluid">
							<div class="span12" id="embed-html">
								{{{embedHtml}}}
							</div>
						</div>
					{{/if}}
				{{/isolate}}

				<br/>
				<div class="row-fluid">
					<div class="span12">
						{{#if resetFpWidget}}
						{{/if}}
						<label for="new-question-image">Add an Image (optional)</label>
						<div class="input file image">
							{{#if isLoggedIn}}
								<input id="new-question-image" name="new-question-image" type="filepicker-dragdrop" data-fp-multiple="false" data-fp-class="pick-image-widget" data-fp-button-class="btn" data-fp-button-text="Pick an Image" data-fp-drag-text="Or drop an image here" data-fp-mimetype="image/*" data-fp-store-location="S3" data-fp-container="modal" data-fp-maxsize="5242880" data-fp-services="BOX,COMPUTER,DROPBOX,FACEBOOK,GITHUB,GOOGLE_DRIVE,FLICKR,EVERNOTE,GMAIL,INSTAGRAM,IMAGE_SEARCH,URL,WEBCAM,PICASA,FTP,WEBDAV" />
							{{else}}
								<input type="file"/>
							{{/if}}
							<span class="help-block">
								<small>
									Pick from pictures on your computer, the web, facebook, dropbox, etc.
								</small>
							</span>
						</div>
					</div>
				</div>

				{{#isolate}}
					{{#if imageUri}}
						<br/>
						<div class="row-fluid">
							<div class="span12" id="preview-image">
								<button class="btn btn-inverse remove" type="button" style="margin-bottom: 8px;">Remove Image <i class="icon-trash icon-white"></i></button>
								<img src="{{imageUri}}"></img>
							</div>
						</div>
					{{/if}}
				{{/isolate}}

				<br/>
				{{#isolate}}
					<div class="row-fluid">
						<div class="span12">
							<div id="answer-choices" class="answer-choices">
								<label for="new-question-answer-choice-1">Add Response Choices (optional)</label> 
								<div class="choices">
									{{#each objectifiedAnswerChoices}}
										{{> questionsNewAnswerChoice}}
									{{/each}}
								</div>
								<span class="help-block">
									<small>
										For simplicity all questions are multiple choice. The default choices are Yes, No, and Don't Care. You can overwrite them.
									</small>
								</span>  
							</div>
						</div>
					</div>
				{{/isolate}}

				<hr/>

				{{#isolate}}
					{{#if alert}}
						<div class="row-fluid">
							<div class="span12">
								{{#with alert}}
									<div class="alert alert-{{type}}">
										{{#if dismiss}}
											<button type="button" class="close" data-dismiss="alert">×</button>
										{{/if}}
										{{message}}
									</div>
								{{/with}}
							</div>
						</div>
					{{/if}}
				{{/isolate}}

				<div class="row-fluid">
					<div class="span12">
						<button type="button" class="btn btn-primary btn-block btn-large save">Ask Question</button>
					</div>
				</div>

			</div>
		</div>

	</div>

</template>


<template name="questionsNewAnswerChoice">
	<div class="input-prepend input-append answer-choice-wrap">
		<div class="add-on">{{order}}.</div>
		<div class="add-on"><i class="icon-sort"></i></div>
		<input type="text" id="new-question-answer-choice-{{order}}" class="answer-choice span7 press-enter" placeholder="{{placeholder}}" maxlength="90" value="{{value}}" name="answer-choice-{{order}}">
		{{#if value}}
			<button class="btn btn-danger remove" type="button" data-value="{{value}}"><i class="icon-trash icon-white"></i></button>
		{{/if}}
	</div>
</template>

