<template name="questionsListAnswered">

	<hr/>
	<div class="container">
		
		<table class="table table-hover table-bordered questions-list">
			<caption>
				<h3>
					You have answered {{questionCount}} questions
				</h3>
			</caption>
			<thead>
				<tr>
					<th>Question</th>
					<th>Your Answer</th>
					<th>Answers</th>
					<th>Rating</th>
					<th>Choices</th>
				</tr>
			</thead>
			<tbody>
				{{#each questions}}
					<tr>
						<td>
							<a class="view-question open-modal" data-questionId="{{_id}}">
								{{question}}
							</a>
						</td>
						<td>
							{{answer this}}
						</td>
						<td>
							{{answerCount}}
						</td>
						<td>
							{{voteTally}}
						</td>
						<td>
							{{answerChoices}}
						</td>
					</tr>   
				{{/each}}
			</tbody>
		</table>

	</div>
	
</template>