<template name="questionsAnswer">
	<div class="container" id="answer-question" data-question="{{question._id}}">

		<div class="row-fluid">
			<div class="span12">
				<a href="#" class="next-question pull-right">next</a>
				<a href="#" class="previous-question">previous</a>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 well">

				{{#if alert}}
					<div class="row-fluid">
						<div class="span12">
							{{#with alert}}
								<div class="alert alert-{{type}}">
									{{#if dismiss}}
										<button type="button" class="close" data-dismiss="alert">×</button>
									{{/if}}
									{{message}}
								</div>
							{{/with}}
						</div>
					</div>
				{{/if}}

				{{#if question}}
					<h3>
						{{question.question}}
					<h3/>
					<div class="answer-choices">
						{{#each question.answerChoices}}
							<p>
								{{#if isUsersAnswer this}}
									<button class="btn btn-success btn-block btn-large answer selected" type="button" data-answer="{{this}}" disabled>
										<!-- <span class="marq"><span class="inner"></span></span> -->
										{{this}}
									</button>
								{{else}}
									{{#if answered}}
										<button class="btn btn-block btn-large answer" type="button" data-answer="{{this}}" disabled>
											<!-- <span class="marq"><span class="inner"></span></span> -->
											{{this}}
										</button>
									{{else}}
										<button class="btn btn-info btn-block btn-large answer" type="button" data-answer="{{this}}">
											<!-- <span class="marq"><span class="inner"></span></span> -->
											{{this}}
										</button>
									{{/if}}
								{{/if}}
							</p>
						{{/each}}
					</div>

					{{#if answered}}
						<hr/>
						<div class="row-fluid">
							<div class="span12">
								{{#with question}}
									{{> rateQuestion}}
								{{/with}}
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<div class="chart"></div>
							</div>
						</div>
					{{/if}}

				{{else}}
					<p><a href="#" class="previous-question">Answer</a> and <a href="/questions/new">ask</a> questions to view more.</p>
				{{/if}}

			</div>
		</div>

	</div>
</template>

<template name="rateQuestion">
	<div id="rate-question" data-question="{{_id}}">
		<p>
			Was this a good question?
			<button class="btn btn-success vote" type="button" data-vote="for">
				yes
			</button>
			&nbsp;
			<button class="btn btn-danger vote" type="button" data-vote="against">
				no
			</button>
		</p>
	</div>
</template>