<template name="questionsDialog">
	<div class="mask"> </div>
	<div id="question-dialog" class="modal question-dialog" data-focus-on="#question-dialog">
		<div class="modal-header">
			<button type="button" class="close done">&times;</button>
			<h3>&nbsp;</h3>
		</div>

		<div class="modal-body">
			{{#if question}}
				{{#with question}}
					{{> question}}
				{{/with}}
			{{/if}}
		</div>

		<div class="modal-footer">
			<a href="#" class="btn btn-primary done">Done</a>
		</div>
	</div>
	<div class="modal-backdrop done"></div>
</template>