<template name="questionsListMine">

	<hr/>
	<div class="container">

		<table class="table table-hover table-bordered questions-list">
			<caption>
				<h3>
					You have asked {{questionCount}} questions
				</h3>
			</caption>
			<thead>
				<tr>
					<th>Question</th>
					<th>Answers</th>
					<th>Rating</th>
					<th>Choices</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each questions}}
					<tr>
						<td>
							<a class="view-question open-modal" data-questionId="{{_id}}">
								{{question}}
							</a>
						</td>
						<td>
							{{answerCount}}
						</td>
						<td>
							{{voteTally}}
						</td>
						<td>
							{{answerChoices}}
						</td>
						<td>
							{{#if canRemove}}
								<button class="btn btn-small btn-danger remove" type="button" data-questionId="{{_id}}"><i class="icon-trash icon-white"></i></button>
							{{/if}}
						</td>
					</tr>   
				{{/each}}
			</tbody>
		</table>

	</div>

</template>