<template name="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          <!-- m&#257;rq -->
          marq
        </a>
        <ul class="nav" style="float: right; margin: 8px;">
          <li> 
            {{loginButtons align="right"}}
          </li>
        </ul>
        <ul class="nav">
          <li><a href="/questions/new">Ask</a></li>
          <li><a href="/questions/answer">Answer</a></li>
          <li><a href="/questions">List</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>