<template name="header">
	<div id="header" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				{{> userNav}}
				
				<a class="brand" href="/">
					<!-- m&#257;rq -->
					marq
				</a>

				<ul class="nav">
					<li><a href="/questions/new">Ask</a></li>
					<li><a href="/">Answer</a></li>
					<li><a href="/profile">Results</a></li>
				</ul>

			</div>
		</div>
	</div>
</template>


<template name="userNav">
	<ul class="nav pull-right">
		{{#if currentUser}}
			{{> userLoggedIn}}
		{{else}}
			{{> userLoggedOut}}
		{{/if}}
	</ul>
</template>


<template name="userLoggedIn">
	{{#if loggingIn}}
		<li><a>Logging in...</a></li>
	{{else}}
		<li> 
			<a href="/faq#q-karma">{{currentUser.karma}} karma</a>
		</li>
		<li>
			<img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{getAvatarUri currentUser}}"/>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-caret-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a>Account Settings</a></li>
				<li class="divider"></li>
				<li><a id="logout">Logout</a></li>
			</ul>
		</li>
	{{/if}}
</template>


<template name="userLoggedOut">
	<li> 
		<a>{{loginButtons align="right"}}</a>
	</li>
</template>