<template name="header">
	<div id="header" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<ul class="nav" style="float: right;">
					{{#if user}}
						{{#with user}}
							<li> 
								<a href="/faq#q-karma">{{karma}} karma</a>
							</li>
						{{/with}}
					{{/if}}
					<li> 
						{{loginButtons align="right"}}
					</li>
				</ul>
				
				<a class="brand" href="/">
					<!-- m&#257;rq -->
					marq
				</a>


				<ul class="nav">
					<li><a href="/questions/new">Ask</a></li>
					<li><a href="/">Answer</a></li>
					<li><a href="/profile">Results</a></li>
				</ul>

			</div>
		</div>
	</div>
</template>