<template name="intro">
    <div id="intro" class="container">
        <br/>
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-block alert-info">
                    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                    <h4>
                        Validate Your Assumptions
                    </h4>
                    <br/>
                    <p>Ask and answer beautiful real-time surveys.</p>
                    <p>Then discuss the results.</p>
                    <a href="#" class="btn btn-success btn-large join">Get Validaiton <i class="icon-signin"></i></a>
                </div>      
            </div>
        </div> 
    </div> 
</template>