<template name="intro">
    <div id="intro" class="container">
        <br/>
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-block alert-info">
                    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                    <h4>
                        Validate Your Assumptions
                    </h4>
                    <br/>
                    <p>
                        {{loginButtons align="right"}}
                        Ask and answer fun beautiful real-time surveys.
                    </p>
                    <p>Then discuss the results.</p>
                </div>      
            </div>
        </div> 
    </div> 
</template>